@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
/* Черный scrollbar (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1f1f1f #0f0f0f;
}

body {
  background-color: black;
}
